#label {
    color:black;
    padding: 0rem 1.5rem;
    font-size: 2rem;
}
#input {
    margin-top: 8px;
    height: 2.7rem;
    position: relative;
    top: -0.15rem;
    font-size: 2rem;
    padding: 0 1rem;
    color:#767676;
    background: #efefef;
    border-style: none;
    border-radius: 13px
}